/* Household - Custom System Builder CSS */

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

@font-face {
  font-family: 'LHF_Encore';
  src: url('/modules/household-csb/fonts/lhf-encore-distressed.ttf');
}

/*--- Sheet background, header, changes in chat fonts ---*/

.grid-attrib{
	display: grid;
	grid-template-columns: 40px 50px 25px 25px 25px 25px;
	grid-template-rows: auto auto auto auto auto;
}

.sheet {
	min-width: 380px;
}

.window-app .window-header {
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 8px;
    line-height: 30px;
	border:none;
    background-image: url(/modules/household-csb/sheet/header_bg.webp);
	background-repeat: no-repeat;
 	background-size: cover;
	color: #575757;
}

.sheet .custom-system-panel{
	margin: 0px;
}

.sheet .custom-system-actor {
	background: url(/modules/household-csb/sheet/sheet_bg.webp);
	background-repeat: no-repeat;
 	background-size: cover;
	color: #3f3f3f;
}

.chat-message .message-header .message-sender {
	font-family: 'LHF_Encore', Beau Rivage, cursive;
	font-size: 1.3rem;
	font-weight: 600;
}

.sheet header{
	align-items: start !important;
}

.custom-system-template-select{
	position: relative;
	top:-50px;
}

 .sheet .custom-system-actor header.sheet-header .profile-img-container img{
	object-fit: cover;
	object-position: center top;
}

/* --- Char info grid --- */

.grid-char{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2px 2px;
}

.item-left{
	grid-column: 1 / span 2;
}

.item-right{
	grid-column: 3 / span 2;
}

.item-right1{
	grid-column: 3 / span 1;
}
.item-right2{
	grid-column: 4 / span 1;
}

/* --- Decorum grid --- */
.grid-decorum{
	display: grid;
	width: 100%;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: auto auto;
	justify-content: space-around;
	align-content: space-evenly;
	justify-items: center;
	gap: 5px 2px;
}

.grid-decorum div{
	text-align: center;
}



/* --- Stress grid --- */
.grid-stress{
	display: grid;
	width: 100%;
	grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
	gap: 6px;
}


/* --- Equipment: show as lines --- */
.grid-equip {
	text-align: justify;
	
}

.grid-equip .custom-system-dynamicRow{
   display: grid;
   grid-template-columns: 42px auto 60px;
   grid-template-rows: 25px auto auto;
   width: 98%;
   height: auto;
   gap: 0px 2px;
   border-bottom: 1px solid black;
}

.grid-equip div{
   font-family: 'Times New Roman', Times, serif;
   text-align: justify;
}

.move-icn a.content-link,
.grid-equip a.content-link,
.trait-icn a.content-link {
   background: none;
   border: none;
   font-size: 0;
}

.grid-equip .custom-system-item-container-image {
   object-fit: contain;
   max-width: 42px;
   max-height: 42px;
   border: 1px solid black;
   border-radius: 6px;
}

.grid-equip .equip-label{
	font-size: 1.0rem;
   	font-weight: bolder;
  	margin-left: 10px;
   	margin-top: 5px;
   	width: auto;
}

.equip-trait{
   width: 100%;
   font-size: 0.85rem;
   font-style: oblique;
   font-weight: bold;
}

.equip-desc{
	width: 100%;
}

.equip-price{
   font-size: large;
   text-align: left;
}

.equip-price::before{
   content: '$';
}

.grid-equip .fa-trash::before{
	display:block;
	margin-left: 50px;
	margin-bottom: -50px;
	
}

/* --- Conditions --- */

.cond-grid{
	display: grid;
	grid-template-columns: 1fr 30px 30px 1fr;
	width: 100%;
}

.cond-textfield{
	grid-column: 1 / span 4;
}

/* --- Contracts --- */
.grid-contracts{
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr;
}

.grid-contracts div{
	text-align: justify;
}

.grid-contracts-cb{
	grid-column: 1 / span 1;
}

.grid-contracts-title{
	grid-column: 2 / span 1;
}

.grid-contracts-text{
	grid-column: 1 / span 2;
}



/*---------------------------------------*/
/* ROLL SCRIPT PART */
/*_og refers to Outgunned, another system of the*/
/*same publisher were this css was first used */
/*---------------------------------------*/

.header_og {
    border-bottom: solid 1px #356978;
  }

.d6_og_suc {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #356978;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	margin: 3px;
	text-align: center;
	line-height: 25px;
}

.d6_og_rem {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	margin: 3px;
	text-align: center;
	line-height: 25px;
}

.roll-result_og {
	margin-top: 10px;
	padding: 10px;
	padding-top: 10px;
	border: solid 20px;
    border-image-source: url(/modules/household-csb/sheet/deco4.svg);
	border-image-slice: 22 22;
}

.button_og {
  display: inline-block;
  color: white;
  width: fit-content;
  background-color: #B1251A;
  border: none;
  margin-right:3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.roll_suc_og {
	color: #356978;
	font-size: 18px;
	margin-left: 20px;
	font-style: none;
	text-align: center;
	font-weight: bold;
}

.button-container {
  margin-top: 15px;
  text-align: center;
}

.action-button {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/*------------------------*/
/* SHEET PART */
/*------------------------*/

.sheet .attributes-bg {
	background: url(/modules/household-csb/sheet/attributes-bg.webp);
	background-repeat: no-repeat;
 	background-size: contain;
	background-position: left 10px;
}

.sheet .hearts-bg {
	background: url(/modules/household-csb/sheet/hearts2_bg.webp);
	background-repeat: no-repeat;
 	background-size: auto 140px;
	background-position: 1px bottom;
}

.sheet .diamonds-bg {
	background: url(/modules/household-csb/sheet/diamonds2_bg.webp);
	background-repeat: no-repeat;
 	background-size: auto 140px;
	background-position: 1px bottom;
}

.sheet .clubs-bg {
	background: url(/modules/household-csb/sheet/clubs2_bg.webp);
	background-repeat: no-repeat;
 	background-size: auto 140px;
	background-position: 1px bottom;
}

.sheet .spades-bg {
	background: url(/modules/household-csb/sheet/spades2_bg.webp);
	background-repeat: no-repeat;
 	background-size: auto 140px;
	background-position: 1px bottom;	
}

.my-round-border{
    border: solid 1px  darkolivegreen;
    border-radius: 5px;
	text-align: center;
	padding: 10px;
	margin: 10px
}

.dice-text{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: darkolivegreen;
	color: white;
	text-align: center;
	border: solid 1px rgb(62, 62, 62);
    border-radius: 3px;
}

.my-red-text{
	color: darkred;
	font-weight: bolder;
}
.my-blue-text{
	color: royalblue;
	font-weight: bolder;
}
.my-green-text{
	color: darkolivegreen;
	font-weight: bolder;
}
.my-black-text{
	color: black;
	font-weight: bolder;
}

.my-small-text{
	font-size: normal;
	text-transform: capitalize;
}

.my-medium-text{
	font-size: large;
	text-transform: capitalize;
}

.sheet table{
	background: none;
	border: none;
}

.m-1{
	margin: 1px;
}

.mx-2{
	margin-left: 2px;
	margin-right: 2px;
}

.my-2{
	margin-top: 2px;
	margin-bottom: 2px;
}

.my-5{
	margin-top: 5px;
	margin-bottom: 5px;
}

.mx-10{
	margin-left: 10px;
	margin-right: 10px;
}

.my-bold{
	font-weight: bold;
}

.center-text{
	text-align:center;
}

.w-100{
	width:100%;
}

.w-50{
	width:50%;
}

.w-25{
	width:210px;
	max-width:215px;
	gap: 0px;
	margin:0px;
}

.w-65{
	width: 315px;
}

.main-columns{
	gap:25px;
}

.h-small{
	min-height: 50px;
}

.my-outline{
	border: 1px solid black;
	border-radius: 4px;
	padding: 2px;
}

.sheet .no-border input[type="text"]{
	border:none;
}

.my-deco1 {
    text-decoration: none;
    padding-bottom: 0px;
    background: url(/modules/household-csb/sheet/deco1.svg);
	background-size: 350px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
}

 .my-deco2 {
    text-decoration: none;
	grid-column: 1 / span 6;
	background-image: url(/modules/household-csb/sheet/deco2.svg);
	background-size: 200px, auto;
    background-repeat: no-repeat;
    background-position: left top;
	height: 16px;
	width: 100%;
}

.my-deco3 {
    text-decoration: none;
	width: 250px;
    background: url(/modules/household-csb/sheet/deco2.svg);
	background-size: 200px, auto;
	background-repeat: no-repeat;
	background-position: 2px 28px;
}

.my-title{
	font-family: 'LHF_Encore', Beau Rivage, cursive;
	font-size: 1.35rem;
	line-height: 4rem;
}

.my-attrib{
	font-family: 'LHF_Encore', Beau Rivage, cursive;
	font-size: 2.0em;
	font-weight: 500;
	text-transform: capitalize;
	grid-column: 1 / span 3;
	margin-right: 10px;
	margin-bottom: -5px;
	align-items: end;
}

.my-subtitle1{
	font-family: 'LHF_Encore', Beau Rivage, cursive;
	font-size: 1.4rem;
	line-height: 110%;
	font-weight: bold;
	text-align: center;
}

.attrib-cb{
	transform: scale(1.2);
	align-items: end;
}

.my-skill{
    font-family: Times, "Times New Roman", Georgia, serif;
	font-size: small;
	grid-column: 1 / span 2;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 5px;
}

.my-quotes{
    font-family: Times, "Times New Roman", Georgia, serif;
	font-style: oblique;
	font-size: medium;
}

.my-float-left{
	margin-left: 0px;
	padding-bottom: 0px;
}

.custom-system-field-root{
	padding:0px;
}

.small-text{
	font-size: small !important;
}

.large-text{
	font-size: x-large !important;
}

.break-word{
	word-break: break-word !important;
}

.no-break{
	word-break: keep-all;
}

.my-bold{
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 600;
}

.center-text{
	text-align: center;
}

.trait-title{
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: normal;
	line-height: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: 2px underline #782e22;
	text-underline-offset: 3px;
}

.trait-text{
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: normal;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

.boxes .custom-system-component-root {
    margin-left: 0px;
	flex-basis: 0px;
}


/*------------------------*/
/* CHECKBOXES VOODOO PART */
/*------------------------*/

.sheet .eye input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/eye.svg);
	flex: 0 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.sheet .eye input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/eye-slash.svg) !important;
    -webkit-filter: none !important;
}

.sheet .aces-panel{
	min-width: 316px;
	min-height:6em;
}

.sheet input[type="text"], select{
	border: none;
	border-bottom: 1px solid gray;
	background: none;
}

.sheet .hearts input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/hearts.svg);
	flex: 0 0 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sheet .hearts input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/hearts-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .diamonds input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/diamonds.svg);
	flex: 0 0 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sheet .diamonds input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/diamonds-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .clubs input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/clubs.svg);
	flex: 0 0 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sheet .clubs input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/clubs-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .spades input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/spades.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sheet .spades input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/spades-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .decorum input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/butterfly.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 27px;
    width: 27px;
    height: 22px;
    cursor: pointer;
	transform: scale(1.4);
}

.sheet .decorum input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/butterfly-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .stress1 input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/stress_special.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
	transform: scale(1.2);
}

.sheet .stress1 input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/stress_special-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .ace-hearts input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ace-hearts.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 43px;
    width: 43px;
    height: 60px;
    cursor: pointer;
	transform: translate(50px,14px) rotate(-20deg);
}

.sheet .ace-hearts input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ace-hearts-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .ace-diamonds input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ace-diamonds.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 43px;
    width: 43px;
    height: 60px;
    cursor: pointer;
	transform: translate(25px,4px) rotate(-10deg);
}

.sheet .ace-diamonds input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ace-diamonds-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .ace-clubs input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ace-clubs.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 43px;
    width: 43px;
    height: 60px;
    cursor: pointer;
}

.sheet .ace-clubs input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ace-clubs-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .ace-spades input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ace-spades.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 43px;
    width: 43px;
    height: 60px;
    cursor: pointer;
	transform: translate(-25px,4px) rotate(10deg);
	
}

.sheet .ace-spades input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ace-spades-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .ace-joker input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ace-joker.svg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	flex: 0 0 43px;
    width: 43px;
    height: 60px;
    cursor: pointer;
	transform: translate(-50px,14px) rotate(20deg);
}

.sheet .ace-joker input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ace-joker-filled.svg) !important;
    -webkit-filter: none !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.sheet .charname input[type="text"], .itemname input[type="text"]{
	font-family: 'LHF_Encore', Beau Rivage, cursive;
	font-weight: bold;
	border: none;
}

.sheet .circle-cb input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: #fff;
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: 1px solid #3f3f3f;
    cursor: pointer;
}

.sheet .circle-cb input[type="checkbox"]:checked {
    background: #83739A !important;
	outline: 2px solid #3f3f3f !important;
    -webkit-filter: none !important;
}

.sheet .ttt1 input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ttt1.svg);
	flex: 0 0 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.sheet .ttt1 input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ttt1-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .ttt2 input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ttt2.svg);
	flex: 0 0 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.sheet .ttt2 input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ttt2-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .ttt3 input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ttt3.svg);
	flex: 0 0 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.sheet .ttt3 input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ttt3-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .ttt4 input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ttt4.svg);
	flex: 0 0 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.sheet .ttt4 input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ttt4-filled.svg) !important;
    -webkit-filter: none !important;
}

.sheet .ttt5 input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/household-csb/sheet/ttt5.svg);
	flex: 0 0 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.sheet .ttt5 input[type="checkbox"]:checked {
    background: url(/modules/household-csb/sheet/ttt5-filled.svg) !important;
    -webkit-filter: none !important;
}

.custom-system-actor .editor{
	min-height: 10px;
}